<p class="ma6 mono font-1 tc dark-gray">DISCOVERbot Admin</p>
<form action="/admin/accesscode" method="GET" class="admin_form">
    <input class="admin_button" type="submit" value="Generate code!" />
</form>

<div class="ma6 f2">
    {{#if code}}
    <p class="tc">Your admin code is:</p>
    <h5 class="mt4 b tc">{{code}}</h5>
    {{/if}}
</div>