<p class="ma6 mono font-1 tc dark-gray">DISCOVERbot Admin</p>
<form action="/admin/login" method="POST" class="admin_form">
    <p class="admin_p">Username:</p>
    <input class="admin_form_input" type="text" name="username" />
    <p class="admin_p">Password:</p>
    <input class="admin_form_input" type="password" name="password" />
    <input class="admin_button" type="submit" value="Sign in" />
</form>