* {
  outline: none !important;
}

body {
  color: var(--dark-gray);
}

.pointer-events-none {
  pointer-events: none;
}

.up-8rem {
  transform: translateY(-8rem);
}

.up-0rem {
  transform: translateY(0rem);
}

.bg-blue {
  background-color: #118ab2;
}