* {
  outline: none !important;
}

body {
  color: var(--dark-gray);
  overflow-y: hidden;
}

html {
  overflow-y: hidden;
}

.pointer-events-none {
  pointer-events: none;
}

.up-8rem {
  transform: translateY(-8rem);
}

.up-0rem {
  transform: translateY(0rem);
}
